@font-face {
    font-family: 'font' ;
    src: url(./Fontes/Roboto-Bold.ttf);
}
*{
    padding: 0%;
    margin:0%;
    text-emphasis: none;
    font-family: 'font'; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
header {
    height: 100px;
    background-color: #f0f0f0b6;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
}   

.drop{
    display: none;
}

.navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 30px;
    display: flex;
    justify-content: space-around; 
    
}

li {
    display: inline;
    padding: 5px 12%;
    cursor: pointer;
    color:#0e5815 ;
    transition: transform 0.3s;
    
}


li:hover{
    color: #080808;
    transform: scale(0.9);
    background-color: #f0f0f0b6;
    border-radius: 100px;

}

main{
    /* width: 100vw;
    height: 100vh; */
    margin-top: 8rem;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}

.susten {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.susten img{
    max-width: 50%;
    max-height: 100%;
    border-radius: 10px;
}

.susten p{
    color: #333;
    font-size: 18px; 
    margin: 10px 0; 
    text-align: justify;
}

.reci{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.reci p{
    color: #333;
    font-size: 18px; 
    margin: 10px 0; 
    text-align: justify;
}

.reci img{
    max-width: 50%;
    max-height: 100%;
    border-radius: 10px;
}

.ed_amb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.ed_amb p{
    color: #333;
    font-size: 16px; 
    margin: 10px 0; 
    text-align: justify;
}

.ed_amb img{
    max-width: 50%;
    max-height: 100%;
    border-radius: 10px;
}

.inova{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.inova p{
    color: #333;
    font-size: 16px; 
    margin: 10px 0; 
    text-align: justify;
}

.inova img{
    max-width: 50%;
    max-height: 100%;
    border-radius: 10px;
}

.boas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.boas p{
    color: #333;
    font-size: 16px; 
    margin: 10px 0; 
    text-align: justify;
}

.boas img{
    max-width: 30%;
    max-height: 30%;
    border-radius: 10px;
}

footer{
    background-color: #f0f0f0b6;
    height: 100%;
    width: 100%;
    
}

.img_site img,
.img_fac img {
    width: 250px; 
    height: auto; 
    margin: 0 50px;
}

.img_conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu respansivo */
@media (max-width: 730px){
    .navegacao{
        display: none;
    }

    header{
        background-color: transparent;
    }

    /* Estilo para o contêiner do dropdown */
    .drop {
    position: relative;
    display: inline-block;
    }

    /* Estilo para o botão */
    #menu-item {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    cursor: pointer;
    }

    /* Estilo para o dropdown */
    .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #0e5815d2;
    border-radius: 7px;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    
    }

    /* Estilo para os itens do dropdown */
    .dropdown-menu li {
    color: #dadada;
    padding: 12px;
    text-decoration: none;
    display: block;
    
    }

    /* Mostrar o dropdown quando o botão é hoverado */
    .drop:hover .dropdown-menu {
    display: block;
    }

    
    .img_site img,
    .img_fac img{
        width: 100px;
        align-items: center;
        justify-content: center;
    }

}

material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }


  
